<h3> Create a new project </h3>
<form ng-controller="EditProjectCtrl">
	Title:<br>
    <input type="text" ng-model="project.title"><br>
  	Description:<br>
  	<textarea ng-model="project.description" ></textarea><br>
  	<button type="button" class="btn btn-success" ng-click="submit()">Confirm Changes</button>
  	<hr>
  	{{greeting}}
</form>
