<h3> Log In </h3>
<form ng-controller="LoginCtrl">
  	Email-id:
  	<input type="text" ng-model="user.email">
    Password:
    <input type="password" ng-model="user.password">
  	<button type="button" class="btn btn-success" ng-click="submit()">Login</button>
  	<hr>
  	{{greeting}}
</form>
