<div class="jumbotron">
  <h1>Vroooom!</h1>
  <p class="lead">
    <img src="images/dragon.jpg" alt="Track you issues"  height="300" width="250"><br>
    Make your life simpler, track your projects with our issue tracker
  </p>
  
</div>

