<div ng-controller="ProjectPageCtrl">
  {{ status_message }}
  <h2> {{ latest_project.title }} </h2>
  <h4> Owner {{ latest_project.owner }} </h4>
  <h4> Is it public {{ latest_project.is_public}} </h4>
  Description {{ latest_project.description }} <br>
  <button type="button" class="btn btn-warning" ng-click="edit_project_function()">Edit</button>
</div>



