<div ng-controller="ShowProjectsCtrl">
  {{ status_message }}
  <h2> Projects which you have access to :</h2><br>
  <div ng-repeat="project in project_list">
    <h3>{{ project.title }}</h3>
    {{ project.description }}<br>
    <h4>{{ project.owner }}</h4>
    Is it public : {{ project.is_public }}<br>
    <button type="button" class="btn btn-primary" ng-click="explore(project.id)">Explore</button>
  </div>
</div>



