<h3> Sign Up </h3>
<form ng-controller="SignupCtrl">
	Name:
    <input type="text" ng-model="user.username"><br>
  	Email-id:
  	<input type="text" ng-model="user.email"><br>
  	Password:
  	<input type="password" ng-model="user.password"><br>
  	<button type="button" class="btn btn-success" ng-click="submit()">Submit</button>
  	<hr>
  	{{greeting}}
</form>
